@import '../../index.scss';

.ages-div {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 2rem;
  .button-div {
    width: fit-content;
    button {
      background-color: transparent;
      margin-right: -1px;
      padding: 0.5rem;
      border: $border;
      cursor: pointer;
    }
  }
}